<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Удаление пользователя</title>
</head>
<body>
<h1>Удаление пользователя</h1>
<form action="/downloadDeletingScript" method="post">
  <label for="username">Введите имя пользователя для удаления:</label>
  <input type="text" id="username" name="username" required>
  <button type="submit">Скачать скрипт удаления</button>
  <a href="/home">Вернуться на домашнюю страницу</a>
</form>
</body>
</html>